/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */


/* cores */
:root{
  /* Cores */
  --cor-btn-primario: linear-gradient(117deg, rgba(48,242,173,1) 0%, rgba(1,133,85,1) 100%);
  --cor-btn-secundario: linear-gradient(117deg, rgba(110,110,110,1) 0%, rgba(54,51,51,1) 100%);
  --cor-bg-primario: linear-gradient(117deg, rgba(18,18,18,1) 0%, rgba(23,23,23,1) 100%);
  --cor-bg-card: linear-gradient(117deg, rgba(33,33,33,1) 0%, rgba(54,51,51,1) 100%);

  --cor-bg-body: #171717;
  --cor-bg-input: #363333;
  --cor-primaria: #11E096;
  /* --cor-primaria: #018555; */
  --cor-text-corpo: #E0E0E0;

  /* Fontes */
  --text-titulo: 'Poppins', sans-serif;
  --text-corpo: 'Source Sans Pro', sans-serif;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--cor-bg-body);
  font-family: var(--text-corpo);
}
img{
  display: block;
  max-width: 100%;
}

/* gerais */
.btn{
  display: inline-block;
  color: #fff;
  padding: 0.313rem .625rem;
  background: var(--cor-btn-primario);
  border-radius: .8rem;
  width: 7.5rem;
  font-family: var(--text-titulo);
  text-align: center;
  text-transform: uppercase;
  
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: all .2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 8px rgba(255, 255, 255, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.479);
}
.btn-secundario{
  background: var(--cor-btn-secundario);
}
.titulo{
  font-size: 1.75rem;
  font-family: var(--text-titulo);
  font-weight: bold;
  letter-spacing: .1rem;
  position: relative;
  color: #fff;
}
.titulo::after{
  content: "";
  height: 0.938rem;
  width: 6.25rem;
  background: var(--cor-primaria);
  display: block;
  opacity: .5;
  position: absolute;
  bottom: 0.313rem;
  left: -0.313rem;
  right: auto;
  z-index: -1;
  border-radius: 0.313rem;
  margin: 0 auto;
}
.subtitulo{
  font-family: var(--text-titulo);
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: .05rem;
  margin-bottom: .5rem;
  color: #fff;
}
.call{
  display: inline-block;
  font-size: .875rem;
  color: var(--cor-primaria);
  font-weight: bold;
  font-family: var(--text-titulo);
  padding: 5px 0;
  display: flex;
  align-items: center;  
}
.call::after{
  content: "";
  width: 1.52rem;
  background: red;
  height: 1.25rem;
  display: inline-block;
  background: url(/img/arrow-green.svg) no-repeat center;
  margin-left: .2rem;
  animation: arrow 1s infinite;
}
.link-item{
  display: block;
  font-size: .875rem;
  color: var(--cor-primaria);
  font-weight: bold;
  font-family: var(--text-titulo);
  padding: 5px 0;
  display: flex;
  align-items: center;  
}
.link-item:hover:after{
  content: "";
  width: 1.52rem;
  background: red;
  height: 1.25rem;
  display: inline-block;
  background: url(/img/arrow-green.svg) no-repeat center;
  margin-left: .2rem;
  animation: arrow 500ms forwards;
}
@keyframes link-item{
  from{

    transform: translatex(-0.125rem);
  }to{

    transform: translatex(0.125rem);
  }
}
/* header */
.logo{
  padding: .5rem;
  max-width: 100px;
}
.container{
max-width: 1140px;
margin: 0 auto;
}
.header{
  background-image: var(--cor-bg-card);
}
.header-content{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: .5rem .25rem;
}


.intro{
  height: 90vh;
  padding: 0.625rem;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.intro h1{
  color: var(--cor-text-corpo);
  font-size: 5rem;
  font-family: var(--text-titulo);
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.intro .arrow{
  display: inline-block;
  width: .75rem;
  transform: rotate(180deg);
  margin-left: .2rem;
  animation: arrow .9s  infinite;
}
@keyframes arrow {
  from{
    opacity: 0;
    transform: translatex(-0.125rem);
  }to{
    opacity: 1;
    transform: translatex(0.125rem);
  }
}
.intro .btn + .btn{
  margin-left: 1.25rem;
}
.intro p{
  font-size: 3rem;
  color: var(--cor-text-corpo);
  margin-bottom: 1.75rem;
}
.intro .intro-info:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(/img/bg-mobile.svg) no-repeat center center;
  background-size: contain;
  z-index: -1;
  animation: intro-bg 500ms forwards;
}
@keyframes intro-bg {
  from{
    /* opacity: 0; */
    transform: translate3d(-1.875rem, -1.875rem, -1.875rem);
  }to{
    /* opacity: 1; */
    transform: translate3d(0, 0, 0);
  }
}
.img-intro{
  display: none;
}

/* Sobre */
.sobre{
  padding: 2rem 1rem;
  color: var(--cor-text-corpo);
  display: grid;
  gap: 2rem;
}
.sobre .titulo, p{
  margin-bottom: .5rem;
}
.sobre span.ativo{
  color: var(--cor-primaria);
  font-weight: bold;
  font-style: italic;
}
.sobre h3{
  font-size: 1.25rem;
  font-family: var(--text-titulo);
  margin-bottom: .5rem;
}
.sobre-office{
  display: none;
}

/* Serviços */
.servicos{
  padding: 2rem 1rem;
  color: var(--cor-text-corpo);
  display: grid;
  gap: 2rem;
}
.servicos .titulo::after{
  width: 9.063rem;
}
.servico-content,
.servico-subcontent{
  display: grid;
  gap: 1rem;
}
.servicos-item{
  padding: 1rem;
  border-radius: 0.625rem;
  background: var(--cor-bg-card);
  min-height: 190px;
}
.servicos-item p{
  margin-bottom: 1rem;
}
.servicos-item .icons{
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 1rem;
}
@media(max-width: 320px){
  .servicos-item{
    max-width: 100%;
  }
  .servicos-item .icons{
    gap: .6rem;
  }
}

/* Projetos */
.projetos{
  padding: 2rem 1rem;
  color: var(--cor-text-corpo);
  display: grid;
  gap: 2rem;
}
.projetos h1.titulo::after{
  width: 8.75rem;
}
.nav-tab{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.nav-tab li{
  font-family: var(--text-titulo);
  padding: .2rem;
  cursor: pointer;
  letter-spacing: .1rem;
  font-size: 1.125rem;
}
.nav-tab li.ativo{
  font-family: var(--text-titulo);
  font-weight: bold;
  letter-spacing: .1rem;
  position: relative;
}
.nav-tab li.ativo::after{
  content: "";
  height: 0.538rem;
  width: 100%;
  background: var(--cor-primaria);
  display: block;
  opacity: .5;
  position: absolute;
  bottom: 0.313rem;
  left: 0;
  z-index: -1;
  border-radius: 0.313rem;
}
.itens-content{
  column-count: 1;
}
.projeto-item{
  display: none;
  box-shadow: 0 2px 6px rgba(50, 90, 57, 0.1);
  border-radius: 0.625rem;
  overflow: hidden;
  break-inside: avoid-column;
  margin-bottom: 1.063rem;
}
.projeto-item.ativo{
  display: block;
  animation: updown 300ms ;
}
@keyframes updown{
  from{
  opacity: .6;
  }to{
  opacity: 1;
  }
}

.item-info{
  margin-top: -6px;
  background: var(--cor-bg-card);
  padding: 1rem .5rem;
  
}
.item-info h2{
  font-family: var(--text-titulo);
  font-weight: bold;
  margin-bottom: .5rem;
}
.item-info a.btn{
  width: 100px;
}

/* contato */
.contato{
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: var(--cor-text-corpo);
  display: grid;
  overflow: hidden;
}
.contato h1.titulo{
  text-align: center;
}
.contato h1.titulo::after{
  width: 8.75rem;
  position: relative;
  bottom: 1.313rem;
  left: 0;
}
.contato p{
  text-align: center;
}
.form-container{
  padding: 2rem 0;
  display: grid;
  gap: 2rem;

}
.form-container label{
  display: block;
  margin-bottom: .25rem;
  visibility: hidden;
  position: absolute;
  height: 0px;
}
.form-container input,
.form-container textarea{
  width: 100%;
  display: inline-block;
  padding: .5rem;
  border: none;
  outline: none;
  background: var(--cor-bg-input);
  border-radius: 0.625rem;
  color: #fff;
  margin-bottom: 1rem;
}
.form-container textarea{
  resize: none;
  height: 250px;
}
.form-container button{
  cursor: pointer;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
}
::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;  
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;  
}
:-ms-input-placeholder {  
  color: #fff;  
}

/* estilos para esconder o input de verificação */
.form-prevent-span{
  position: relative;
}
.nao-aparece {
  visibility: hidden;
  position: absolute;
  height: 0px;
}

/* Redes Sociais */
.redes{
  text-align: center;
  padding: 2rem 0;
}
.redes h1.titulo::after{
  width: 16.75rem;
  position: relative;
  bottom: 1.313rem;
  left: 0;
}
.redes-sociais ul{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
.redes-sociais ul li a{
  display: block;
  padding: .25rem;
  transition: 100ms ease-in;
}
.redes-sociais ul li a img{
  display: block;
  max-width: 100px;
  height: 50px;
}
.redes-sociais ul li a:hover{
  -moz-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

/* footer */
.footer{
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: var(--cor-bg-card);
  color: #fff;
  font-size: .85rem;
  letter-spacing: .1rem;
}