/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */


/* cores */
:root{
  /* Cores */
  --cor-btn-primario: linear-gradient(117deg, rgba(48,242,173,1) 0%, rgba(1,133,85,1) 100%);
  --cor-btn-secundario: linear-gradient(117deg, rgba(110,110,110,1) 0%, rgba(54,51,51,1) 100%);
  --cor-bg-primario: linear-gradient(117deg, rgba(18,18,18,1) 0%, rgba(23,23,23,1) 100%);
  --cor-bg-card: linear-gradient(117deg, rgba(33,33,33,1) 0%, rgba(54,51,51,1) 100%);

  --cor-bg-body: #171717;
  --cor-primaria: #11E096;
  /* --cor-primaria: #018555; */
  --cor-text-corpo: #E0E0E0;

  /* Fontes */
  --text-titulo: 'Poppins', sans-serif;
  --text-corpo: 'Source Sans Pro', sans-serif;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--cor-bg-body);
  font-family: var(--text-corpo);
}

/* gerais */
.btn{
  display: inline-block;
  color: #fff;
  padding: 0.313rem .625rem;
  background: var(--cor-btn-primario);
  border-radius: 1rem;
  width: 7.5rem;
  font-family: var(--text-titulo);
  text-align: center;
  text-transform: uppercase;
}
.btn-secundario{
  background: var(--cor-btn-secundario);
}
.titulo{
  font-size: 1.75rem;
  font-family: var(--text-titulo);
  font-weight: bold;
  letter-spacing: .1rem;
  position: relative;
}
.titulo::after{
  content: "";
  height: 0.938rem;
  width: 6.25rem;
  background: var(--cor-primaria);
  display: block;
  opacity: .5;
  position: absolute;
  bottom: 0.313rem;
  left: -0.313rem;
  right: auto;
  z-index: -1;
  border-radius: 0.313rem;
  margin: 0 auto;
}
.subtitulo{
  font-family: var(--text-titulo);
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: .05rem;
  margin-bottom: .5rem;
  color: #fff;
}
.call{
  display: inline-block;
  font-size: .875rem;
  color: var(--cor-primaria);
  font-weight: bold;
  font-family: var(--text-titulo);
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.call::after{
  content: "";
  width: 1.52rem;
  background: red;
  height: 1.25rem;
  display: inline-block;
  background: url(/img/arrow-green.svg) no-repeat center;
  animation: arrow .9s  infinite;
  margin-left: .2rem;
}




/* header */
.logo{
  max-width: 20px;
}
.container{
max-width: 1140px;
margin: 0 auto;
}
.header{
  padding: 10px;
  background-image: var(--cor-bg-primario);
}
.header-content{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}


.intro{
  height: 90vh;
  padding: 0.625rem;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.intro h1{
  color: var(--cor-text-corpo);
  font-size: 5rem;
  font-family: var(--text-titulo);
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.intro .arrow{
  width: .75rem;
  transform: rotate(180deg);
  margin-left: .2rem;
  animation: arrow .9s  infinite;
}
@keyframes arrow {
  from{
    opacity: 0;
    transform: translatex(-0.125rem);
  }to{
    opacity: 1;
    transform: translatex(0.125rem);
  }
}
.intro .btn + .btn{
  margin-left: 1.25rem;
}
.intro p{
  font-size: 3rem;
  color: var(--cor-text-corpo);
  margin-bottom: 1.75rem;
}
.intro:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(/img/bg-mobile.svg) no-repeat center center;
  background-size: contain;
  z-index: -1;
  animation: intro-bg 500ms forwards;
}
@keyframes intro-bg {
  from{
    /* opacity: 0; */
    transform: translate3d(-1.875rem, -1.875rem, -1.875rem);
  }to{
    /* opacity: 1; */
    transform: translate3d(0, 0, 0);
  }
}

/* Sobre */
.sobre{
  padding: 2rem 1rem;
  color: var(--cor-text-corpo);
  display: grid;
  gap: 2rem;
}
.sobre .titulo, p{
  margin-bottom: .5rem;
}
.sobre span.ativo{
  color: var(--cor-primaria);
  font-weight: bold;
  font-style: italic;
}
.sobre h3{
  font-size: 1.25rem;
  font-family: var(--text-titulo);
  margin-bottom: .5rem;
}


.servicos{
  padding: 2rem 1rem;
  color: var(--cor-text-corpo);
  display: grid;
  gap: 2rem;
}
.servicos .titulo::after{
  width: 9.063rem;
}
.servicos-item{
  padding: 1rem;
  border-radius: 0.625rem;
  background: var(--cor-bg-card);
}
.servicos-item p{
  margin-bottom: 1rem;
}
.servicos-item .icons{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}